on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lints:
    runs-on: namespace-profile-nix
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: namespacelabs/nscloud-checkout-action@v8
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            /nix
            ~/.cache/nix
      - run: nix develop -c action-validator -v ./.github/workflows/workflow.yml
      - run: nix develop -c prettier --check .

  DeterminateCI:
    uses: ./.github/workflows/workflow.yml
    permissions:
      id-token: write
      contents: read
    with:
      directory: ./tests/smoke
